/* CSS Document */

body,html { margin-top:0px; margin-left:0px; padding:0px 0px 0px 0px; font-family: Verdana, tahoma, Helvetica, sans-serif; font-size: 12px;}

a.spage:link{
border: 1px solid #000000;font-family:verdana; font-size:10px;padding-top:1px; padding-bottom:2px;padding-left:4px;padding-right:4px;color:white;font-weight:bold;text-decoration:none;background-color:#ffffff; color:#000000;
}
a.dlink:visited{color:#000000; text-decoration:underline;}
a.dlink:link{color:#000000; text-decoration:underline;}
a.dlink:active{color:#000000; text-decoration:underline;}

a.blink:visited{color:#bfb40b; text-decoration:none; font-size:12px; font-weight:bold; font-family:tahoma}
a.blink:link{color:#bfb40b; text-decoration:none; font-size:12px; font-weight:bold; font-family:tahoma}
a.blink:active{color:#bfb40b; text-decoration:none; font-size:12px; font-weight:bold; font-family:tahoma}

a.ilink:visited{color:#000000; text-decoration:none; font-size:12px; font-weight:bold; font-family:tahoma}
a.ilink:link{color:#000000; text-decoration:none; font-size:12px; font-weight:bold; font-family:tahoma}
a.ilink:active{color:#000000; text-decoration:none; font-size:12px; font-weight:bold; font-family:tahoma}
.textfield{font-size:10px; font-family:verdana}
.selectbox{font-size:10px; font-family:verdana}
a.slink:visited{color:black; text-decoration:none; font-size:10px; font-weight:bold; font-family:tahoma}
a.slink:link{color:black; text-decoration:none; font-size:10px; font-weight:bold; font-family:tahoma}
a.slink:active{color:black; text-decoration:none; font-size:10px; font-weight:bold; font-family:tahoma}


.heading{font-size:18px; color:#858585; font-family:arial;}
.box {
	border-top-style:solid; border-top-width:thin; border-top-color:#CCCCCC;border-left-style:solid; border-left-width:thin; border-left-color:#CCCCCC;border-right-style:solid; border-right-width:thin; border-right-color:#CCCCCC;border-bottom-style:solid; border-bottom-width:thin; border-bottom-color:#CCCCCC;background-color:#F1F3F5;
}

.box1 {
	border-top-style:solid; border-top-width:thin; border-top-color:#CCCCCC;border-left-style:solid; border-left-width:thin; border-left-color:#CCCCCC;border-right-style:solid; border-right-width:thin; border-right-color:#CCCCCC;border-bottom-style:solid; border-bottom-width:thin; border-bottom-color:#CCCCCC;background-color:#E9ECEF;
}

.box2 {
	border-top-style:solid; border-top-width:1px; border-top-color:#858585;border-left-style:solid; border-left-width:1px; border-left-color:#858585;border-right-style:solid; border-right-width:1px; border-right-color:#858585;border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#858585;
}

.box3 {
	border-top-style:solid; border-top-width:thin; border-top-color:#CCCCCC;border-left-style:solid; border-left-width:thin; border-left-color:#CCCCCC;border-right-style:solid; border-right-width:thin; border-right-color:#CCCCCC;border-bottom-style:solid; border-bottom-width:thin; border-bottom-color:#CCCCCC;
}

.tip {
	border-top-style: dashed; border-top-width:1px; border-top-color:#028BC7;border-left-style:dashed; border-left-width:1px; border-left-color:#028BC7;border-right-style:dashed; border-right-width:1px; border-right-color:#028BC7;border-bottom-style:dashed; border-bottom-width:1px; border-bottom-color:#028BC7;
}

.search {
	border-top-style: solid; border-top-width:2px; border-top-color:#A60000;border-left-style:solid; border-left-width:2px; border-left-color:#A60000;border-right-style:solid; border-right-width:2px; border-right-color:#A60000;border-bottom-style:solid; border-bottom-width:2px; border-bottom-color:#A60000;
}


.alert{
	font-family:Verdana, tahoma, Helvetica, sans-serif; font-size:9px; color:#FF0000;
}

.he{color:#F79A21; font-size:12px; font-weight:bold; font-family: tahoma; padding-left:3px;
}
.te{
	font-family:verdana, Helvetica, sans-serif; font-size:11px; 
}

.FooterBorder
{
border:#CCCCCC 1px solid;
font-family:tahoma, Helvetica, sans-serif;
font-size:10px;
color:#666666;
}

.ip{ font-size:small; border: 1px solid #555555;}
.ipbig{ font-size:large; border: 1px solid #555555;}
.iperr{ font-size:small; border: 1px solid #ff0000; }
.ip2{ font-size:x-small; border: 1px solid #777777; background-color: #dddddd;}

/********************* OLD CSS********************/

#content{ text-align:center; padding:5px 0px 5px 0px; border-right: 1px solid #777777; border-left:1px solid #777777; background-color:#ffffff;}
#footer{ font-size:small; text-align:center; border-top:1px solid #555555; border-bottom:1px solid #777777; border-right: 1px solid #555555; border-left:1px solid #555555; padding:2px 0px 4px 0px;background-color:#f7f7f7;}
#pageheading{ font-size: 10px; font-weight: bold; color: #378DB5; text-align:left; padding:2px 0px 2px 5px; border-right: 1px solid #777777; border-left:1px solid #777777;background-color:#ffffff;}
#info{font-size: 2px; color:#808080; font-weight:bold; background-color:#FFFFCC; padding:1px 2px 1px 2px; text-align:center; width:55%; border:1px dashed #2c3d47; font-family:verdana}
#dvinfo{ text-align:center;background-color:#ffffff;}
#validation{padding:5px 0px 5px 0px;text-align:center;width:100%;}
#valid_heading{text-align:left;background-color:#ff0000;color:#ffffff;font-weight:bold;padding:0px 0px 2px 5px; border:1px solid #777777;width:35%;}
#valid_text{text-align:left;background-color:#ffffCC;padding:2px 0px 5px 5px; border:1px solid #777777; border-top:0px solid #777777;width:35%;}

.gap{ font-size:x-small;}
.tr{background-color: #EFF0F1; text-align:left; font-size: 11px}
.tr_green{background-color:#D7FFD2; text-align:left}
.tr_yellow{background-color:#FFFFCC; text-align:left}
.tr_pink{background-color:#FFE6E6; text-align:left}
.tr2{background-color:#F1F1F1; text-align:left; font-size: 11px}
.tr1{background-color: #E5E5E5; text-align:left; font-size:11px}
.trug{background-color: #ffd0d0; text-align:left}
.green{background-color: #66FFCC; text-align:left; font-size:11px}
.yellow{background-color: #FFFFCC; text-align:left; font-size:11px}

.pg{background-color: #C4F0BD; text-align:left; font-size: 11px}
.pb{background-color: #B4D1EF; text-align:left; font-size: 11px}
.pp{background-color: #F8B8CE; text-align:left; font-size: 11px}
.pr{background-color: #E84663; text-align:left; font-size: 11px}



.trred{background-color:#FF8282; text-align:left; font-size:11px}
.trblue{background-color:#A3C8ED; text-align:left; font-size:11px}
.trblack{background-color:#999999; text-align:left; font-size:11px}


.pn{background-color: #E9F2F5; text-align:left}
.pu{background-color: #ffd0d0; text-align:left; font-size: 11px}
.pvu{background-color: #ff9090; text-align:left}
.pl{background-color: #f7f7f7; text-align:left}

.trselect{background-color: #ffcc99;}
.trover{background-color: #ccffcc;}
.td{ font-size: 10px;color: #000000;text-align:left;}
.ti{ font-size: 12px;color: #000000;font-weight:bold;color:white}
.td1{ font-size: 10px;color: #000000;text-align:left; border-bottom: thin; border-bottom-style: solid; border-bottom-color:#CCCCCC}
.td2{ font-size: 12px;color: #000000;text-align:left; border-bottom: thin; border-bottom-style: solid; border-bottom-color:#CCCCCC;}
.ff{ background-color: #F7F7F7;font-size: small;font-weight: normal;text-align:right;padding-right:2px;}
.ff1{ background-color: #F7F7F7;font-size: small;font-weight: normal;text-align:left;padding-left:5px;}

.th,.th a,.th a:active,.th a:visited{ background-color:#333333;  font-size: 10px; font-weight: bold; color:#FFFFFF; text-align: center; padding-top:2px; padding-bottom:2px; font-family:verdana; text-decoration:underline}

.thr,.thr a,.thr a:active,.thr a:visited{ background-color: #0698D8;  font-size: 10px; font-weight: bold; color:#FFFFFF; text-align: center; padding-top:2px; padding-bottom:2px; font-family:verdana; text-decoration:underline}


.th1,.th1 a,.th1 a:active,.th1 a:visited{ background-color: #9FBFDD;  font-size: 10px; font-weight: bold; color:#FFFFFF; text-align: center; padding-top:1px; padding-bottom:1px}


.none{}
.ip{ font-size:small; border: 1px solid #555555;}
.ipbig{ font-size:large; border: 1px solid #555555;}
.iperr{ font-size:small; border: 1px solid #ff0000; }
.ip2{ font-size:x-small; border: 1px solid #777777; background-color: #dddddd;}
select{font-size:15px; font-family:verdana}
.imp{color:#ff0000;font-size:small;}
.dvselect{padding:2px 2px 2px 2px;border:1px solid #555555}
.dvselect a,.dvselect a:visited{color:#0000ff;font-weight: normal;padding:0px 2px 0px 2px;}
.iplist{font-size:x-small; border: 1px solid #777777;}
textarea{font-size:small;font-family: Verdana, tahoma, Helvetica, sans-serif;}
.addnew{color:#0000ff;font-weight:bold;}
.errtable{border:#FF0000 1px dashed}
.errtr{}
.errhd{background-color:#FF0000;color:#FFFFFF;font-weight:bold; font-size:11px}
.errtext{color:#808080;font-weight:bold;font-size:10px;padding:10px 1px 0px 1px;}
.nf{color:#ff0000;}

.welcome_text{
font-family:Verdana, tahoma, Helvetica, sans-serif;
font-size:10px;
color:#ffffff;
text-decoration:none;
font-weight:  normal;
}

.ex{
	font-family:tahoma; font-size:11px}
	

a:link 	 	{color: #b2bdc3; text-decoration: none; font-family:verdana; font-size:10px; }
a:visited	{color: #b2bdc3; text-decoration: none; font-family:verdana; font-size:10px; }
a:hover	 	{color: #5cb600; text-decoration: none; font-family:verdana; font-size:10px; }

.text1 		{
	font-family:verdana; font-size:10px; color:#b2bdc3; text-align: left;}

.text2 		{
	font-family:verdana; font-size:10px; color:#1d2730; text-align: center;}
	
.text3 		{
	font-family:verdana; font-size:10px; color:#596d7a;}	
	
.text4 		{
	font-family:verdana; font-size:10px; color:#596d7a; text-align: justify;}		

.text5 		{
	font-family:verdana; font-size:11px; color:#666666; }		
	
.text6 		{
	font-family:verdana; font-size:10px; color:#596d7a; text-align: justify;}			

.head 		{
	font-family:verdana; font-size:14px; color:#596d7a; text-align: left;}

.head3 		{
	font-family:verdana; font-size:14px; color:#596d7a;;}

.head2 		{
	font-family:verdana; font-size:12px; color:#596d7a; text-align: left;}
	
.subhead 		{
	font-family:verdana; font-size:12px; color:#b2bdc3; text-align: center;}
	
.subhead1 		{
	font-family:verdana; font-size:12px; color:#b2bdc3; text-align: left;}	

.tinyborder {
	BORDER-RIGHT: #817e84 1px solid; BORDER-TOP: #817e84 1px solid; BORDER-LEFT: #817e84 1px solid; BORDER-BOTTOM: #817e84 1px solid
}
.btn{font-family:verdana; font-size:11px; background-color:#333333; color:#ffffff}
.btn2{font-family:verdana; font-size:11px; background-color:#333333; color:#ffffff; height:25}

a.blink:link 	{color: #b2bdc3; text-decoration: none; font-family:verdana; font-size:12px; }
a.blink:visited	{color: #b2bdc3; text-decoration: none; font-family:verdana; font-size:12px; }
a.blink:hover 	{color: #5cb600; text-decoration: none; font-family:verdana; font-size:12px; }

a.plink1:link 	{color: #666666; text-decoration: none; font-family:verdana; font-size:12px; }
a.plink1:visited	{color: #666666; text-decoration: none; font-family:verdana; font-size:12px; }
a.plink1:hover 	{color: #666666; text-decoration: none; font-family:verdana; font-size:12px; }

a.plink2:link 	{color: #FFFFFF; text-decoration: none; font-family:verdana; font-size:10px; }
a.plink2:visited{color: #FFFFFF; text-decoration: none; font-family:verdana; font-size:10px; }
a.plink2:hover 	{color: #FFFFFF; text-decoration: none; font-family:verdana; font-size:10px; }


a.plink:link 	{color: #666666; text-decoration: none; font-family:verdana; font-size:10px; }
a.plink:visited	{color: #666666; text-decoration: none; font-family:verdana; font-size:10px; }
a.plink:hover 	{color: #666666; text-decoration: none; font-family:verdana; font-size:10px; }

.areafield{font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif}

.win{ background-image:url(../images/win.jpg); background-repeat:no-repeat; height:30px; color:#FFFFFF; font-weight:bold; font-family:tahoma;}
.btitle{background-image:url(../images/titlebar.jpg); background-repeat:no-repeat; color:#FFFFFF; font-weight:bold; font-family:tahoma; height:30px; padding-left:15px}
